In [95]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime as dt

In [96]:
zori_df = pd.read_csv('zori_2023.csv')
zori_df

,RegionID,SizeRank,RegionName,RegionType,StateName,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,...,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31
0,102001,0,United States,country,NaN,1310.238936,1320.359331,1330.214894,1340.372546,1346.542472,...,1955.957391,1977.673623,1991.825628,1997.267710,1995.173026,1986.815710,1981.599359,1980.427430,1986.354094,1995.541225
1,394913,1,"New York, NY",msa,NY,2417.698919,2436.685580,2454.339972,2472.571177,2481.697026,...,3121.052301,3176.308431,3200.920578,3198.198220,3174.823315,3142.258581,3118.808863,3111.038913,3126.560256,3155.522826
2,753899,2,"Los Angeles, CA",msa,CA,1915.992729,1929.206693,1942.787480,1953.989284,1969.998997,...,2884.584224,2907.066842,2921.126637,2928.604706,2924.248255,2915.785281,2907.638088,2902.234557,2905.664968,2914.971108
3,394463,3,"Chicago, IL",msa,IL,1454.144423,1467.103087,1478.581567,1502.697671,1509.288876,...,1879.076819,1899.158341,1908.013965,1910.899731,1909.183850,1902.847749,1903.579357,1907.216081,1921.945677,1935.634060
4,394514,4,"Dallas, TX",msa,TX,1150.496999,1161.017134,1172.832034,1180.720187,1186.862211,...,1790.557946,1815.962542,1826.824947,1826.411373,1814.007954,1799.239643,1783.775895,1778.233390,1780.782326,1788.991727
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526,753923,849,"The Dalles, OR",msa,OR,NaN,NaN,NaN,NaN,NaN,...,NaN,1756.804782,1757.290807,1881.488675,1888.948164,1893.938918,1827.542338,1815.888389,1805.205844,1821.111111
527,394643,857,"Great Bend, KS",msa,KS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,716.492784,737.349792,717.222222
528,394687,875,"Hood River, OR",msa,OR,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2650.000000
529,394718,892,"Jamestown, ND",msa,ND,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,841.124315,826.645247,796.590056,816.340768,841.166667
530,394996,915,"Portales, NM",msa,NM,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1006.250000

In [163]:
new_zori_df = zori_df.loc[zori_df['StateName'] == "FL"]

new_zori_df = new_zori_df.drop(columns=['RegionID', 'SizeRank', 'RegionType'])

new_zori_df

,RegionName,StateName,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,2015-08-31,2015-09-30,2015-10-31,...,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31
8,"Miami, FL",FL,1588.681024,1594.639840,1601.293386,1611.335973,1619.333616,1627.676922,1636.345085,1650.084741,...,2719.484609,2740.100558,2746.587754,2759.439962,2767.687624,2779.834960,2778.369915,2776.267558,2774.344084,2782.057828
18,"Tampa, FL",FL,1116.380613,1121.610541,1130.133209,1137.586850,1145.347218,1149.541971,1154.101837,1158.520249,...,2063.671862,2085.752758,2091.734681,2092.705597,2085.224748,2083.120290,2079.426932,2082.750073,2086.799633,2097.767957
22,"Orlando, FL",FL,1166.157665,1177.203276,1187.219835,1193.191279,1200.764886,1205.153322,1212.577576,1214.421040,...,2012.248293,2042.546883,2053.024453,2046.968857,2040.974962,2029.840039,2019.328458,2016.218365,2023.001993,2037.145412
40,"Jacksonville, FL",FL,1051.208924,1056.084617,1063.351890,1070.475896,1075.010971,1079.447082,1078.198293,1079.670175,...,1744.409374,1762.239306,1770.260429,1770.844534,1775.557904,1775.315182,1772.567221,1758.856772,1751.461337,1755.516254
73,"North Port, FL",FL,1310.316862,1308.260232,1312.911362,1318.035158,1324.764833,1333.592011,1342.032748,1353.003942,...,2349.853081,2348.473403,2332.096845,2344.907301,2372.714508,2445.482334,2456.713140,2478.414525,2464.851260,2460.582018
78,"Cape Coral, FL",FL,1085.672352,1104.009944,1124.912266,1136.803686,1139.960128,1150.752645,1164.000384,1176.514500,...,2140.387296,2164.304676,2161.591758,2180.108146,2217.280735,2257.505028,2284.462106,2295.791802,2296.329662,2319.637216
82,"Lakeland, FL",FL,1019.714283,1028.676942,1040.276785,1045.932754,1049.963184,1052.411754,1052.035787,1054.750630,...,1856.984708,1871.335702,1877.713554,1874.039299,1866.159543,1863.123885,1853.977317,1858.784881,1865.716357,1874.933331
90,"Deltona, FL",FL,1004.413228,1015.227911,1024.663740,1033.185814,1038.024311,1047.163543,1059.899075,1070.566487,...,1859.624604,1888.322826,1892.476507,1899.426470,1889.105117,1890.533046,1885.418492,1880.297694,1891.467682,1904.576577
97,"Palm Bay, FL",FL,1018.507348,1024.939153,1032.377101,1045.550744,1054.573381,1071.408382,1073.183490,1081.321642,...,1943.099509,1966.507348,1982.178184,1982.848222,1985.433251,1979.696420,1971.648936,1963.912777,1967.559080,1987.290673
111,"Pensacola, FL",FL,934.882893,943.050550,950.003932,943.610036,949.572283,951.923746,955.639624,954.507223,...,1654.367504,1677.519071,1690.613045,1707.468595,1702.852910,1676.335884,1652.822367,1649.283963,1659.363974,1660.247941
115,"Port St. Lucie, FL",FL,1199.639129,1208.163216,1215.891197,1225.406956,1225.422731,1229.533765,1242.761219,1243.660975,...,2317.287038,2342.087701,2358.098247,2384.032100,2408.108933,2405.463033,2409.640441,2399.428929,2405.016825,2389.289064
145,"Tallahassee, FL",FL,890.105458,897.158384,901.707467,903.352469,902.875736,898.444981,896.075316,889.586345,...,1301.533640,1327.975845,1364.858461,1367.934123,1380.056899,1371.758019,1373.299287,1369.450588,1379.847309,1386.374522
147,"Naples, FL",FL,1728.426939,1727.835798,1723.834060,1736.463851,1731.063297,1737.593224,1751.322566,1796.455132,...,3194.242766,3227.666264,3190.602547,3246.676434,3331.603571,3489.937252,3582.325781,3562.349905,3534.284488,3466.281119
149,"Ocala, FL",FL,886.561462,895.232274,899.053550,907.827227,910.013225,914.905789,916.973025,916.131020,...,1640.636953,1643.763044,1637.171957,1641.423928,1630.280479,1645.276411,1627.285870,1635.961988,1640.837654,1654.076813
155,"Gainesville, FL",FL,966.601212,972.874447,975.612676,978.123134,974.682126,974.210859,978.168342,986.828799,...,1577.236222,1596.360350,1616.146994,1614.481676,1622.371458,1617.607808,1610.334791,1601.490745,1617.851078,1641.580185
175,"Crestview, FL",FL,1071.476816,1081.268547,1083.844543,1090.977545,1092.666533,1100.055636,1099.881267,1099.335580,...,1959.263040,1968.360301,1992.428355,1999.028065,1982.495047,1947.422584,1911.923261,1907.908688,1905.882927,1931.345456
234,"Punta Gorda, FL",FL,1055.641382,1053.846638,1055.517936,1071.636821,1083.947772,1101.736170,1119.887579,1137.273167,...,2064.079635,2121.873528,2077.404239,2079.548370,2140.609734,2225.722532,2250.660999,2211.169242,2195.700805,2241.087542
238,"Panama City, FL",FL,1005.873116,1017.509270,1020.756531,1009.746060,1008.833529,1012.315470,1020.028446,1011.787591,...,1769.532857,1792.623884,1808.414281,1834.446658,1828.016468,1808.613237,1762.490193,1758.254993,1746.608421,1761.164184
270,"Sebastian, FL",FL,982.620610,956.193295,960.202199,966.306723,1034.047367,1039.743333,1060.473870,1073.560103,...,2090.772788,2078.010422,2103.308936,2067.939114,2194.551890,2276.930321,2305.601977,2252.455789,2228.119392,2232.579100
285,"Homosassa Springs, FL",FL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1461.580567,1488.712118,1500.331454,1481.211879,1486.939575,1488.932668,1501.126357,1507.854581,1539.814053,1533.686869
321,"The Villages, FL",FL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1790.520337,1809.746087,2012.811011,2108.281685,2153.607084,2157.225174,2169.544512,2129.688758,2132.580651,2059.677778
370,"Sebring, FL",FL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1308.100358,1308.637099,1329.038159,1339.644448,1354.713362,1384.174250,1398.102189,1398.064972,1371.672948,1368.265993
401,"Key West, FL",FL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3775.924051,3919.413346,4158.829021,4142.262325,4174.424695,4129.018902,4386.721248,4485.026380,4483.867093,4154.404762
430,"Lake City, FL",FL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1416.666667

In [164]:
cf_zori_df = new_zori_df.loc[new_zori_df['RegionName'] == "Orlando, FL"]

cf_zori_df

,RegionName,StateName,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,2015-08-31,2015-09-30,2015-10-31,...,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31
22,"Orlando, FL",FL,1166.157665,1177.203276,1187.219835,1193.191279,1200.764886,1205.153322,1212.577576,1214.42104,...,2012.248293,2042.546883,2053.024453,2046.968857,2040.974962,2029.840039,2019.328458,2016.218365,2023.001993,2037.145412

In [166]:
averages = cf_zori_df.mean()

average_dict = {"Average": averages}


central_FL_averages = pd.DataFrame(average_dict)
central_FL_averages = central_FL_averages.reset_index()



central_FL_averages

C:\Users\18632\AppData\Local\Temp\ipykernel_19148\3836471551.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  averages = cf_zori_df.mean()

         index      Average
0   2015-03-31  1166.157665
1   2015-04-30  1177.203276
2   2015-05-31  1187.219835
3   2015-06-30  1193.191279
4   2015-07-31  1200.764886
..         ...          ...
92  2022-11-30  2029.840039
93  2022-12-31  2019.328458
94  2023-01-31  2016.218365
95  2023-02-28  2023.001993
96  2023-03-31  2037.145412

[97 rows x 2 columns]

In [167]:
central_FL_averages["index"]=pd.to_datetime(central_FL_averages["index"])



central_FL_averages["index"]= central_FL_averages["index"].dt.year


central_FL_averages

    index      Average
0    2015  1166.157665
1    2015  1177.203276
2    2015  1187.219835
3    2015  1193.191279
4    2015  1200.764886
..    ...          ...
92   2022  2029.840039
93   2022  2019.328458
94   2023  2016.218365
95   2023  2023.001993
96   2023  2037.145412

[97 rows x 2 columns]

In [168]:
year = central_FL_averages.groupby(['index'])
central_FL_averages = round(year.mean(), 2)
central_FL_averages

       Average
index
2015   1198.54
2016   1251.46
2017   1315.16
2018   1401.54
2019   1464.49
2020   1490.89
2021   1678.22
2022   1985.66
2023   2025.46

In [ ]:
yearly_amount =

In [169]:
medianh_df = pd.read_csv('Zillow Median Sale Price.csv')
medianh_df

,RegionID,SizeRank,RegionName,RegionType,StateName,2018-03-31,2018-04-30,2018-05-31,2018-06-30,2018-07-31,...,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31
0,102001,0,United States,country,NaN,263267.0,271267.0,276633.0,280000.0,280300.0,...,387967.0,393300.0,393300.0,391300.0,386633.0,381667.0,375733.0,371900.0,371900.0,374833.0
1,394913,1,"New York, NY",msa,NY,503000.0,513000.0,521300.0,526300.0,528300.0,...,617667.0,613330.0,606330.0,599663.0,606333.0,612999.0,619333.0,619333.0,624667.0,634967.0
2,753899,2,"Los Angeles, CA",msa,CA,721333.0,735000.0,743333.0,750000.0,749667.0,...,924967.0,920633.0,910333.0,901667.0,897667.0,894333.0,887667.0,882633.0,885967.0,892967.0
3,394463,3,"Chicago, IL",msa,IL,284600.0,294600.0,300600.0,302267.0,301967.0,...,323300.0,324967.0,322967.0,319967.0,314967.0,308600.0,302933.0,299300.0,302167.0,308833.0
4,394514,4,"Dallas, TX",msa,TX,322997.0,328497.0,331797.0,332800.0,329502.0,...,432663.0,438297.0,434967.0,428300.0,419000.0,410667.0,403667.0,398000.0,396667.0,400300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
920,753929,935,"Zapata, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,132917.0,136667.0,142667.0,144333.0,149250.0,153150.0,154983.0,153567.0,148000.0,146583.0
921,394743,936,"Ketchikan, AK",msa,AK,284500.0,286733.0,297900.0,311567.0,324167.0,...,363833.0,380167.0,419000.0,419000.0,429917.0,416833.0,425333.0,415417.0,397833.0,406333.0
922,753874,937,"Craig, CO",msa,CO,192833.0,194983.0,195617.0,197183.0,195733.0,...,334133.0,355767.0,354083.0,359917.0,368250.0,375733.0,373233.0,374933.0,371617.0,355817.0
923,395188,938,"Vernon, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,135217.0,144217.0,149250.0,147083.0,137083.0,123750.0,109772.0,100522.0,95908.0,94241.0
924,394767,939,"Lamesa, TX",msa,TX,96800.0,103467.0,108450.0,114650.0,119567.0,...,179633.0,189600.0,185192.0,179142.0,174176.0,166917.0,158167.0,156167.0,154500.0,161000.0

In [170]:
new_medianh_df = medianh_df.loc[medianh_df['StateName'] == "FL"]

new_medianh_df = new_medianh_df.drop(columns=['RegionID', 'SizeRank', 'RegionType'])

new_medianh_df

,RegionName,StateName,2018-03-31,2018-04-30,2018-05-31,2018-06-30,2018-07-31,2018-08-31,2018-09-30,2018-10-31,...,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31
8,"Miami, FL",FL,366600.0,368267.0,371067.0,372367.0,372367.0,369267.0,367967.0,366333.0,...,526333.0,543000.0,546300.0,546300.0,545967.0,549000.0,549000.0,545667.0,542633.0,541300.0
18,"Tampa, FL",FL,243950.0,247250.0,250616.0,252299.0,252299.0,250600.0,249600.0,247967.0,...,409633.0,416500.0,416500.0,412867.0,406300.0,402583.0,397917.0,394583.0,390967.0,390967.0
22,"Orlando, FL",FL,275450.0,280633.0,285600.0,288933.0,289900.0,289267.0,287633.0,285000.0,...,417333.0,423333.0,424000.0,424000.0,422000.0,419633.0,414633.0,411300.0,410333.0,413633.0
39,"Jacksonville, FL",FL,274867.0,278633.0,281933.0,281967.0,280933.0,277600.0,274267.0,271267.0,...,389830.0,396163.0,396133.0,389633.0,382967.0,376333.0,371333.0,365000.0,361667.0,364333.0
72,"North Port, FL",FL,336267.0,336258.0,336291.0,337958.0,339600.0,338267.0,334933.0,331633.0,...,540925.0,548925.0,546150.0,539317.0,529650.0,523000.0,521667.0,525000.0,531333.0,535900.0
77,"Cape Coral, FL",FL,282633.0,282633.0,281300.0,279967.0,279933.0,279900.0,279900.0,281433.0,...,209966.0,216300.0,204633.0,178667.0,156167.0,147800.0,158767.0,187933.0,221300.0,256333.0
81,"Lakeland, FL",FL,207967.0,211300.0,213333.0,214967.0,214967.0,214933.0,214967.0,214933.0,...,349967.0,353300.0,353333.0,351833.0,350133.0,349800.0,347967.0,346333.0,344433.0,343433.0
89,"Deltona, FL",FL,249600.0,251517.0,254850.0,258217.0,259933.0,259933.0,259933.0,259933.0,...,381300.0,384666.0,384633.0,381633.0,379933.0,379933.0,378267.0,376948.0,376982.0,380215.0
96,"Palm Bay, FL",FL,253916.0,257216.0,259632.0,261632.0,263998.0,264000.0,262330.0,259664.0,...,381600.0,385517.0,383883.0,377233.0,371617.0,369617.0,367133.0,363833.0,362467.0,364633.0
110,"Pensacola, FL",FL,237085.0,240593.0,244533.0,247567.0,247632.0,244632.0,243382.0,243350.0,...,333000.0,337967.0,339633.0,336600.0,334967.0,333300.0,336633.0,338267.0,342567.0,345933.0
114,"Port St. Lucie, FL",FL,261233.0,262867.0,263400.0,265766.0,267166.0,268000.0,269000.0,269333.0,...,428333.0,430000.0,431333.0,428000.0,426314.0,424981.0,423314.0,423237.0,421570.0,423237.0
144,"Tallahassee, FL",FL,204450.0,208359.0,210819.0,213519.0,214610.0,213333.0,211633.0,208300.0,...,291000.0,296000.0,298000.0,299333.0,300500.0,303983.0,302983.0,301783.0,299967.0,306250.0
146,"Naples, FL",FL,440983.0,433333.0,428333.0,424967.0,424517.0,424483.0,422850.0,423267.0,...,726317.0,724317.0,714333.0,714333.0,721000.0,737833.0,747000.0,759000.0,767500.0,774333.0
148,"Ocala, FL",FL,192800.0,195833.0,197467.0,199600.0,199900.0,199900.0,199900.0,199900.0,...,316600.0,324950.0,321650.0,318316.0,316300.0,316800.0,318466.0,317650.0,317150.0,317117.0
154,"Gainesville, FL",FL,233429.0,236617.0,237897.0,239563.0,238247.0,238617.0,238617.0,239915.0,...,319967.0,328267.0,328300.0,327967.0,326333.0,326333.0,323000.0,321333.0,321333.0,326125.0
174,"Crestview, FL",FL,391550.0,394583.0,394417.0,397667.0,397667.0,399000.0,399333.0,399667.0,...,588333.0,607917.0,614583.0,612917.0,605000.0,604333.0,593083.0,581083.0,576717.0,582800.0
234,"Punta Gorda, FL",FL,249800.0,249767.0,249800.0,249967.0,251500.0,251467.0,253100.0,254650.0,...,303267.0,313300.0,320133.0,320150.0,313483.0,303283.0,291633.0,291600.0,301600.0,316600.0
238,"Panama City, FL",FL,266900.0,273267.0,277967.0,280417.0,282417.0,284083.0,286333.0,289567.0,...,432967.0,442967.0,448300.0,441933.0,433900.0,426933.0,426633.0,426000.0,426000.0,423733.0
270,"Sebastian, FL",FL,326300.0,326633.0,326633.0,325000.0,323000.0,319667.0,321333.0,321667.0,...,397950.0,397192.0,394775.0,395408.0,396850.0,399933.0,399933.0,399933.0,404933.0,404967.0
285,"Homosassa Springs, FL",FL,196283.0,197917.0,199900.0,204900.0,207933.0,209600.0,211267.0,214600.0,...,299933.0,306633.0,306633.0,303267.0,299933.0,299933.0,299933.0,298567.0,300683.0,300717.0
325,"The Villages, FL",FL,256600.0,254117.0,252450.0,255783.0,254967.0,253300.0,250933.0,253933.0,...,432983.0,432983.0,436983.0,431967.0,435292.0,432940.0,432807.0,426482.0,424833.0,419983.0
385,"Sebring, FL",FL,161550.0,161483.0,161367.0,163067.0,166500.0,168331.0,169965.0,168965.0,...,256900.0,261100.0,265200.0,264233.0,266400.0,266333.0,264417.0,261383.0,259683.0,259600.0
435,"Key West, FL",FL,734300.0,732967.0,726633.0,726666.0,728333.0,726667.0,728333.0,728000.0,...,1179667.0,1188000.0,1179667.0,1176667.0,1178333.0,1211667.0,1231667.0,1265667.0,1290667.0,1307000.0
472,"Palatka, FL",FL,179267.0,181233.0,188100.0,194767.0,199683.0,199517.0,196183.0,192933.0,...,229967.0,249583.0,256217.0,254517.0,251567.0,249683.0,247883.0,251250.0,254833.0,265833.0
481,"Lake City, FL",FL,194100.0,193917.0,195617.0,196783.0,197617.0,197617.0,196783.0,197800.0,...,293317.0,295067.0,291317.0,291150.0,294467.0,299133.0,297967.0,296333.0,298633.0,300267.0
693,"Okeechobee, FL",FL,182617.0,181583.0,181567.0,183233.0,183233.0,184900.0,186850.0,190867.0,...,314817.0,300333.0,299333.0,302633.0,302783.0,299450.0,299317.0,295500.0,288833.0,272333.0
696,"Clewiston, FL",FL,188933.0,185600.0,182267.0,179917.0,181583.0,183250.0,189900.0,191600.0,...,50717.0,51583.0,51583.0,51832.0,51997.0,52830.0,51832.0,51333.0,52167.0,52167.0
773,"Arcadia, FL",FL,231617.0,235633.0,227917.0,227567.0,230200.0,234950.0,236933.0,236933.0,...,318650.0,355316.0,375885.0,394235.0,387235.0,385333.0,373500.0,374500.0,375500.0,376500.0
848,"Wauchula, FL",FL,174500.0,180000.0,194900.0,206233.0,205133.0,208567.0,196567.0,190667.0,...,313250.0,287783.0,277617.0,277317.0,282817.0,279667.0,272650.0,271133.0,280283.0,307633.0

In [171]:
cf_medianh_df = new_medianh_df.loc[new_medianh_df['RegionName'] == "Orlando, FL"]

cf_medianh_df

,RegionName,StateName,2018-03-31,2018-04-30,2018-05-31,2018-06-30,2018-07-31,2018-08-31,2018-09-30,2018-10-31,...,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31
22,"Orlando, FL",FL,275450.0,280633.0,285600.0,288933.0,289900.0,289267.0,287633.0,285000.0,...,417333.0,423333.0,424000.0,424000.0,422000.0,419633.0,414633.0,411300.0,410333.0,413633.0

In [172]:
averages = cf_medianh_df.mean()

average_dict = {"Average": averages}

central_FLmh_averages = pd.DataFrame(average_dict)
central_FLmh_averages = central_FLmh_averages.reset_index()

central_FLmh_averages

C:\Users\18632\AppData\Local\Temp\ipykernel_19148\779015686.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  averages = cf_medianh_df.mean()

         index   Average
0   2018-03-31  275450.0
1   2018-04-30  280633.0
2   2018-05-31  285600.0
3   2018-06-30  288933.0
4   2018-07-31  289900.0
..         ...       ...
56  2022-11-30  419633.0
57  2022-12-31  414633.0
58  2023-01-31  411300.0
59  2023-02-28  410333.0
60  2023-03-31  413633.0

[61 rows x 2 columns]

In [173]:
central_FLmh_averages["index"]=pd.to_datetime(central_FLmh_averages["index"])



central_FLmh_averages["index"]= central_FLmh_averages["index"].dt.year


central_FLmh_averages

    index   Average
0    2018  275450.0
1    2018  280633.0
2    2018  285600.0
3    2018  288933.0
4    2018  289900.0
..    ...       ...
56   2022  419633.0
57   2022  414633.0
58   2023  411300.0
59   2023  410333.0
60   2023  413633.0

[61 rows x 2 columns]

In [176]:
year = central_FLmh_averages.groupby(['index'])
central_FLmh_averages = round(year.mean(), 2)
central_FLmh_averages

         Average
index
2018   284868.30
2019   292161.42
2020   297958.00
2021   327895.92
2022   404630.42
2023   411755.33